@import 'styles/theme';

.debateRoom {

    &.topic-container {
        width: auto;
        padding: 9px;
        border-radius: $borderRadius;
        text-align: center;
        color: rgb(97, 26, 26);
        background: lighten($background, 70);
        margin-left: 20.5em;
        margin-right: 20.5em;
        margin-bottom: 1em;
        font-family: sans-serif;
        font-weight: bold;
    }

    &.description-container {
        margin-top: 0.25em;
        width: auto;
        padding: 9px;
        border-radius: $borderRadius;
        text-align: center;
        color: rgb(97, 26, 26);
        background: lightblue;
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    &.chat-box-left {
        margin-top: 1.25em;
        margin-left: 2.25em;
        margin-right: 2.25em;
        margin-bottom:30px;
        width: 43%;
        height:15.5cm;
        float: left;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: $borderRadius;
        border: 2px solid black;
        text-align: center;
        font-weight: bold;
    }
    &.chat-box-right {
        margin-top: 1.25em;
        margin-left: 2.25em;
        margin-right: auto;
        margin-bottom:30px;
        width: 43%;
        height:15.5cm;
        float: left;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: $borderRadius;
        border: 2px solid black;
        text-align: center;
        font-weight: bold;
    }

    &.chat-child {
        margin-top: 0.25em;
        margin-left: 0.25em;
        margin-right: 0.25em;
        height:14cm;
        float: left;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadius;
        border: 2px solid black;
    }

    &.opponent-child {
        margin-top: 0.25em;
        margin-left: 0.25em;
        margin-right: 0.25em;
        height:510px;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadius;
        border: 2px solid black;
    }

    &.writer-child {
        margin-top: 1.25em;
        margin-left: 0.25em;
        margin-right: 0.25em;
        height:1.25cm;
        float: left;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadius;
        background: lighten($background, 65);
    }

    &.input-text {
        background: transparent;
        border: none;
        text-align: center;
    }

    .msg-box {
        width: fit-content;
        margin-bottom: 10px;
        padding: 4px 8px 4px 8px;;
        color: black;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba(blue, 0.5);
      }

    &.text {
        margin-top: 12em;
    }

    &.button-container {
        margin-top: 1em;
        background: lighten($background, 60);
      }
    
    &.button-start {
        margin-top: 10em;
        background: lighten($background, 60);
        width: auto;
        padding: 9px;
        border-radius: $borderRadius;
        color: rgb(97, 26, 26);
        margin: auto;
        align-items: center;
        font-family: sans-serif;
      }
    
    &.button-end {
        margin-top: 10em;
        background: lighten($background, 60);
        width: auto;
        padding: 9px;
        border-radius: $borderRadius;
        color: rgb(97, 26, 26);
        margin: auto;
        align-items: center;
        font-family: sans-serif;
        display: flex;
      }
    
    &.parent-link {
        margin-top: 1.25em;
        width: 80%;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadius;
        background: lighten($background, 65);
        align-items: center;
    }

    &.child-link {
        margin-top: 1em;
        margin-bottom: 1.25em;
        padding: 0.25em;
        width: 90%;
        border-radius: $borderRadius;
        background: lighten($background, 70);
    }
}