@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list
  for more information visit https://sass-lang.com/guide
 */

.debate {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.debate-list {
    list-style: outside;
    display: flex;
    margin: auto;
    padding-left: 0;
  }
  &.user-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.2em 0;
  }
  .debates {
    margin: auto;
    width: 1000%;
  }
  .dcontainer{
  margin: 0.5em 0;
  width: 30em;
  padding: 7px;
  border-radius: $borderRadius;
  display: inline-block;
  align-items: center;
  background: lighten($background, 5);
  }
}

