
.Login-component{
    height: 100%;
}

.Register-component{
    height: 100%;
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.68);
    width:100%;
}

.card2 {
    margin: 0px 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #b9cc8f!important;


}

h6,h4,h5 {
    color: white;
    justify-content: center;
    display: flex;
}

#card2{
    box-shadow: none;
}

#card{
    background-color: white;
    box-shadow: none;
}
.logo {
    width: 100%;
    height: 75%;
}

.image {
    width: 360px;
    height: 280px;
}

.border-line {
    border-right: 1px solid rgba(238, 238, 238, 0);
}



.text-sm {
    font-size: 14px !important;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 350
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}


::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input, textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(99, 213, 225, 0.85);
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px;
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer;
}

.bg-blue {
    color: #fff;
    background-color: #1A237E;
}
.create-account {
    color:#757575;
    text-align: center;
    margin-top: 0.1em;
    
    cursor: pointer;
  }

@media screen and (max-width: 1000px) {
    .logo {
        margin-left: 0px;
    }

    .image {
        width: 300px;
        height: 220px;
    }

    .border-line {
        border-right: none;
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
        background-color: #b9cc8f;
    }
}