@import 'styles/theme';


.login {
  &.container {
    padding: 10px;
    @include center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logo
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    padding-left: 20px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease;


  }


  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: white;
  }
  &.label {
    color: white;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  &.create-account {
    color: blue;
    text-align: center;
    margin-top: 1em;
    text-decoration: underline;
    cursor: pointer;
  }
  &.register-container {
    padding: 10px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 30em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: #A8AD9B;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 30em;
    height: 20em;
    font-size: 10px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: #A8AD9B;
    transition: opacity 0.5s ease, transform 0.5s ease;

  }
}