@import 'styles/theme';

.debateRoom {

    &.topic-container {
        width: auto;
        margin-top:0.7em;
        padding: 9px;
        border-radius: $borderRadius;
        text-align: center;
        color: rgb(0, 0, 0);
        background: rgba(255, 255, 255, 0.87);
        margin-left: 20.5em;
        margin-right: 20.5em;
        margin-bottom: 1em;
        font-family: sans-serif;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.09) 0px 6px 6px;
    }

    &.description-container {
        margin-top: 0.25em;
        width: auto;
        padding: 9px;
        border-radius: $borderRadius;
        text-align: center;
        color: rgb(97, 26, 26);
        background: lightblue;
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    &.chat-box-left {

        width: 100%;
        height:15cm;
        float: left;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: $borderRadius;
        background-color: rgba(255, 255, 255, 0.91);
        text-align: left;
        font-weight: bold;

        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    &.chat-box-right {

        width: 100%;
        height:15cm;
        float: left;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: $borderRadius;
        background-color: rgba(255, 255, 255, 0.91);
        text-align: left;
        font-weight: bold;
        box-shadow: black;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    &.chat-child {


        float: left;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadius;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: rgba(185, 204, 143, 0.32);
        height: 100%;
        overflow-x: scroll;

        align-items: center;
        text-align: justify;


    }
    &.chat-child-invite{

        align-content: center;
        float: left;
        display: flex;
        flex-direction: row;
        border-radius: $borderRadius;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: rgba(185, 204, 143, 0.32);
        height: 100%;
        overflow-x: scroll;
        justify-content: center;
        align-items: center;
        text-align: justify;


    }

    &.opponent-child {
        margin-top: 0.25em;
        margin-left: 0.25em;
        margin-right: 0.25em;
        height:510px;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadius;
        border: 2px solid black;
    }

    &.writer-child {
        margin-top: .25em;
        height:1.25cm;
        float: left;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadius;
        background: lighten($background, 65);
        color: black;
    }

    &.input-text {
        background: transparent;
        border: none;
        text-align: center;
        color: black;
    }

    .msg-box {

        margin-bottom: 10px;
        padding: 4px 8px 4px 8px;
        color: black;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border: 0.2px solid rgba(black,0.2) ;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.11) 0px 6px 6px;
        overflow-wrap: break-word;
        inline-size: 70%;

      }
#translate{
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
    &.text {
        margin-top:1em;
        width: fit-content;
        align-self: center;
        overflow-wrap: break-word;

    }

    &.button-container {
        margin-top: 1em;
        align-self: center;
        color: rgb(0, 0, 0);
        background: rgba(255, 255, 255, 0.84);
      }
    
    &.button-start {
        margin-top: 10em;
        background: rgba(255, 255, 255, 0.84);
        width: auto;
        padding: 9px;
        border-radius: $borderRadius;
        color: rgb(0, 0, 0);
        margin: auto;
        align-items: center;
        font-family: sans-serif;
      }
    
    &.button-end {
        margin-top: 10em;
        background: rgba(255, 255, 255, 0.84);
        width: auto;
        padding: 9px;
        border-radius: $borderRadius;
        color: rgb(0, 0, 0);
        margin: auto;
        align-items: center;
        font-family: sans-serif;
      }
    
    &.parent-link {
        margin-top: 1.25em;
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        border-radius: $borderRadius;
        background: rgba(255, 255, 255, 0.84);
        align-items: center;
        overflow-wrap: break-word;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.11) 0px 6px 6px;
    }

    &.child-link {
        margin-top: 1em;
        margin-bottom: 1.25em;
        padding: 0.25em;
        width: 90%;
        border-radius: $borderRadius;
        background: rgba(255, 255, 255, 0.84);
        overflow-wrap: break-word;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.11) 0px 6px 6px;
    }
}